.page-link,
.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--brand-color);
    opacity: 1;
  }
}
.link {
  color: var(--sub-text-color);
  display: flex;
  align-items: center;
  .link-svg {
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    .link-svg {
      fill: var(--brand-color);
    }
  }
}
.page-link {
  color: var(--main-text-color);
}
.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  font-weight: bold;
  letter-spacing: 0.03em;
  span {
    color: var(--brand-color);
  }
}
.header {
  border-bottom: 1px solid var(--border-color);
  padding: 24px 0 25px 0;
}
.header-logo {
  color: var(--black-color);
  margin-right: 93px;
}
.active-page {
  color: var(--brand-color);
  position: relative;
  &:after {
    content: "";
    background: var(--brand-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    display: block;
    bottom: -32px;
    left: 0;
  }
}
.svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background: var(--light-background);
  border-radius: 4px;
}
.nav-row li {
  &:not(:last-child),
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.link-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}