.our-team {
  background-color: var(--light-background);
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
.social-icon-link,
.footer-social-icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link {
  &:hover,
  &:focus {
    background-color: var(--brand-color);
    .social-icon {
      fill: var(--white-color);
    }
  }
}
.social-icon,
.brand-icon {
  fill: var(--icons-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-section {
  background-color: var(--light-background);
}
.card-row {
  margin-left: -30px;
  margin-top: -30px;
}
.card {
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}
.card-info {
  padding: 30px 32px;
}
.name {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.position {
  color: var(--sub-text-color);
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}
