.customer-link-row {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.customer-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 180px) / 6);
}
.customer-link {
  border: 1px solid var(--icons-color);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--brand-color);
    .brand-icon {
      fill: var(--brand-color);
    }
  }
}