.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.list-item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-text-color);
  padding: 6px 22px;
  background-color: var(--light-background);
  border-radius: 4px;
  letter-spacing: 0.03em;
  border: none;
  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--brand-color);
    color: var(--white-color);
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfolio-row {
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio-card {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}
.portfolio-card-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-card-overlay {
  position: absolute;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms linear;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.portfolio-info {
  padding: 20px 24px;
  border-bottom: 1px solid var(--secondary-border-color);
  border-left: 1px solid var(--secondary-border-color);
  border-right: 1px solid var(--secondary-border-color);
}
.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-text-color);
}
.portfolio-card-link {
  box-sizing: border-box;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    .portfolio-card-overlay {
      transform: translateY(-100%);
    }
  }
}
.project-type {
  font-size: 16px;
  line-height: 1.9;
  color: var(--sub-text-color);
}